.Quiz-Container,
.Score-Container {
  height: 88vh;
  width: 100vw;
  background: rgba(63, 63, 63, 0.321);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Score {
  background: black;
  color: white;
  border-radius: 6px;
  padding: 5px 11px;
  box-shadow: 0 0 1rem black;
}

button {
  font-weight: bolder;
}

.question {
  background: black;
  color: white;
  padding: 6px 11px;
  border-radius: 6px;
}
